.App {
  height: 100%;
  text-align: center;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

@font-face {
  font-family: 'ARCADECLASSIC';
  src: url(./ARCADECLASSIC.TTF);
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  grid-area: header;
}

.wrapper-class{
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
}

.App{
  font-family: 'ARCADECLASSIC';
  background-color: #C0C0C0;
  height: 100%;
  
  
  display: -ms-grid;
  -ms-grid-columns: 1fr 3fr 1fr;
  -ms-grid-rows: 1fr 6fr;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 6fr;  
  grid-template-areas: 
      ". header ."
      ". content .";
      
}

