.game-over-wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;

    display: -ms-grid;
    -ms-grid-columns: 2fr 1fr;
    -ms-grid-rows: 1fr;
    
}

.text-area{
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 40px;

    -ms-grid-column: 1;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
}

.new-game-menu{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;

    -ms-grid-column: 2;
    display: -ms-grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
}

.winner-title{
    grid-row: 1/2;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.winner-name{
    grid-row: 2/3;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-elem1{
    grid-row: 1 / 2;
    -ms-grid-row: 1;
}

.menu-elem2{
    grid-row: 2 / 3;
    -ms-grid-row: 2;
}

.menu-elem{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#C0C0C0 50%,#FFFFFF 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    transition:all 500ms ease;
}

.menu-elem:hover{
    background-position:right bottom;
}