.gameGrid{
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;

    display: -ms-grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    
}

.topLeft{
    grid-area: 1/1/2/2;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.topMiddle{
    grid-area: 1/2/2/3;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

.topRight{
    grid-area: 1/3/2/4;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

.midLeft{
    grid-area: 2/1/3/2;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}
    
.midMiddle{
    grid-area: 2/2/3/3;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}
    
.midRight{
    grid-area: 2/3/3/4;
    -ms-grid-column: 3;
    -ms-grid-row: 2;
}

.bottomLeft{
    grid-area: 3/1/4/2;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}
    
.bottomMiddle{
    grid-area: 3/2/4/3;
    -ms-grid-column: 2;
    -ms-grid-row: 3;
}
    
.bottomRight{
    grid-area: 3/3/4/4;
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    border: 2px solid black;
}

.cell:hover{
    background-color: white;
}

.game-over-wrapper{
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: #C0C0C0;
    z-index: 1;
    grid-area: 2/1/3/span 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; 
    -ms-grid-row: 2;
}

.score-board{
    grid-area: 4/1/5/span 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; 
    -ms-grid-row: 4;
}

