.menu{
    height: 100%;
    -ms-grid-area: content;

    display: -ms-grid;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 2fr 1fr;

    grid-area: content;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        ". first ."
        ". second ."
        ". third ."
        ". . .";
}

.span1{
    grid-area: first;
    -ms-grid-column: 2;
}

.span2{
    grid-area: second;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}

.span3{
    grid-area: third;
    -ms-grid-column: 2;
    -ms-grid-row: 3;
}

.span:hover{
    background-position:right bottom;
}

.span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 10px;
    background: linear-gradient(to right,#C0C0C0 50.2%,#FFFFFF 49%);
    background-size: 200% 100%;
    background-position:left bottom;
    transition:all 500ms ease;
}