.score-board-wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
}

.player-one{
    grid-column: 1/2;
    -ms-grid-column: 1;
    -ms-grid-row: 1;

}

.player-two{
    grid-column: 3/4;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

.ties{
    grid-column: 2/3;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

.score-element{
    display: grid;
    grid-template-rows: 1fr 1fr;

    display: -ms-grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
}

.score-title{
    font-size: 20px;
    grid-row: 1/2;
    -ms-grid-row: 1;
}

.score{
    font-size: 40px;
    grid-row: 2/3;
    -ms-grid-row: 2;
}